In [7]:
import pandas as pd
df = pd.read_csv("log_base.csv").drop(['Unnamed: 0'], 1)
df

,Base,Target,Look Back,%,Time,Results
0,Agricultura,Agricultura,1,0.545455,10.832980,[[ 0.96809446]\n [ 0.82732176]\n [ 0.79187206]...
1,Agricultura,Agricultura,2,0.340909,14.353423,[[ 0.7346392 ]\n [ 0.67860657]\n [ 0.76929509]...
2,Agricultura,Agricultura,3,0.409091,14.523395,[[ 0.63426581]\n [ 0.65848 ]\n [ 0.59141585]...
3,Agricultura,Economia,1,0.400794,56.033422,[[ 0.83779657]\n [ 0.993949 ]\n [ 0.18216787]...
4,Agricultura,Economia,2,0.329365,62.935240,[[ 0.46326226]\n [ 0.62082583]\n [ 0.15130333]...
5,Agricultura,Economia,3,0.285714,67.232818,[[ 0.41173197]\n [ 0.90602976]\n [ 0.1576136 ]...
6,Agricultura,Educacion,1,0.301724,29.780494,[[ 0.73101707]\n [ 0.42081081]\n [ 0.81284541]...
7,Agricultura,Educacion,2,0.232759,33.473311,[[ 0.68679547]\n [ 0.22870259]\n [ 0.2868869 ]...
8,Agricultura,Educacion,3,0.181034,35.982007,[[ 0.45216652]\n [ 0.68313531]\n [ 0.38165627]...
9,Agricultura,Salud,1,0.377953,30.547327,[[ 0.14329372]\n [ 0.84044143]\n [ 0.96594999]...
10,Agricultura,Salud,2,0.322835,33.612894,[[ 0. ]\n [ 0.87600901]\n [ 0.99850014]...
11,Agricultura,Salud,3,0.322835,37.848622,[[ 0. ]\n [ 0.87093266]\n [ 0.66197004]...
12,Agricultura,Deuda,1,0.254464,57.540034,[[ 0.17292154]\n [ 0.02513188]\n [ 0.07955411]...
13,Agricultura,Deuda,2,0.245536,62.215849,[[ 0.1684039 ]\n [ 0. ]\n [ 0.55018271]...
14,Agricultura,Deuda,3,0.196429,67.062981,[[ 0. ]\n [ 0. ]\n [ 0.04181668]...

In [8]:
pd.DataFrame.pivot_table(df, index=["Base","Target"], columns=["Look Back"] ).drop(['Time'], 1)

                                %
Look Back                       1         2         3
Base        Target
Agricultura Agricultura  0.545455  0.340909  0.409091
            Deuda        0.254464  0.245536  0.196429
            Economia     0.400794  0.329365  0.285714
            Educacion    0.301724  0.232759  0.181034
            Salud        0.377953  0.322835  0.322835